* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 230, 230)
}

header {
    background-color: #ffb84d;
    border-radius: 50px;
    margin: 20px;
    padding: 5px;
    box-shadow: 5px 5px rgb(107, 107, 107);
}

h1, h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    text-align: left;
    font-size: 1rem;
}

.image {
    width: 200px;
    margin:0 auto;
}