* {
    margin: 0;
    padding: 0;
}


h1, h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    text-align: left;
    font-size: 1rem;
}

.image {
    width: 200px;
    margin:0 auto;
}