* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 230, 230);
}

header {
    background-color: #ffb84d;
    border-radius: 50px;
    margin: 20px;
    padding: 5px;
    box-shadow: 5px 5px rgb(107, 107, 107);
}

h1, h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    text-align: left;
    font-size: 1rem;
}

.image {
    width: 200px;
    margin:0 auto;
}

.form {
    text-align: center;
    display: block;
}

form {
    margin-top: 5%;
    display: inline-block;
}

input, label {
    border-radius: 10px;
    padding-left: 10px;
}

input:focus {
    outline: none;
    border-color:  rgb(2, 100, 2);
}

input:invalid {
    border: 2px solid rgb(143, 6, 6);
    
  }
  
input:focus {
    border: 2px solid rgb(2, 100, 2);
}

button {
    color: white;
    background-color: rgb(30, 114, 223);
    width: 70px;
    height: 35px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
    align-items: center;
    transition: 2s;
}

button:hover{
    background-color: rgb(7, 66, 145);
}
